.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px 20px;
}

@media (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
    }
}

@media (max-width: 414px) {
    .cards {
        padding-top: 36px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, 1fr);
    }
}