.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url('../../../images/edit-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: block;
    padding: 7px;
    border: 1px solid #fff;
    align-self: center;
    margin-left: 18px;
    transition: .5s;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}