.profile__profession {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 16px 0 0 0;
    flex-basis: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 336px;
}

@media (max-width: 854px) {
    .profile__profession {
        text-align: center;
    }
}

@media (max-width: 699px) {
    .profile__profession {
        text-align: center;
        margin-top: 14px;
    }
}