.profile__add-button {
    background: url("../../../images/plus.svg") no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    transition: .5s;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}