.cards__item {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    width: 100%;
    margin: auto;
}

@media (max-width: 463px) {
    .cards__item {
        margin: 0 auto;
    }
}