.profile__info {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 336px;
}

@media (max-width: 655px) {
    .profile__info {
        justify-content: center;
    }
}