.profile__info {
    color: #fff;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 854px) {
    .profile__info {
        justify-content: center;
        margin-top: 22px;
    }
}