.profile__info {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 699px) {
    .profile__info {
        flex-direction: column;
    }
}